$red: #d35266;
$dark: #383838;
$gray: #888;
$white: #fff;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.img 
{
  object-fit: cover;
}

.navbar 
{
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;

  a 
  {
    margin-right: 3vw;
  }

  img 
  {
    margin-right: 3vw;
  }
}

main
 {
  background-color: #f9f9f9;
}

.red 
{
  color: $red;
}

.gray 
{
  color: $gray;
}

.dark 
{
  color: $dark;
  background-color: $dark;
}

.white 
{
  color: $white;
}

.flex 
{
  display: flex;
}

.grid
 {
  display: grid;
}

.envelope 
{
  margin-top: 5px;

  i
   {
    margin-right: 3vw;
  }
}

.post-btn
 {
  height: 5vh;

  width: auto;
  background-color: $red;
  border: none;
}

.heading 
{
  background-color: $red;
}

.text 
{
  padding-top: 5%;
  
  h1 
  {
    padding-left: 40%;
  }

  h6 
  {
    padding-left: 32%;
  }

  form
   {
    margin-top: 2%;
    padding-left: 15%;
    padding-bottom: 3%;
    font-size: 0;
  }

  input
   {
    height: 8vh;
    width: 20vw;
    color: $dark;
  }

  select 
  {
    width: 14vw;
    height: 8vh;
  }

  button
   {
    height: 8vh;
    border: none;
    width: 7vw;
    font-size: 20px;
    padding-top: 1vh;
  }
}
.buttons 
{
  margin-top: 1vh;
  font-size: 0;
  button
  {
    font-size: 14px;
    border-color: $white;
    background-color: $red;
    width: auto;
    height: 6vh;
  }
}

.section-1
 {
  margin: 2vh 5vw 2vh 5vw;
  h3 
  {
    padding-left: 8vw;
  }
}

.hotad
 {
  flex-direction: column;
}

.main-img
 {
  height: 300px;
  width: 400px;
  margin-right: 5%;
}

.section-2 
{
  justify-content: space-between;
  flex-direction: column;
  margin-left: 3vw;
  margin-right: 2vw;
  div 
  {
    grid-template-columns: repeat(2, minmax(180px, 1fr));
    grid-gap: 2%;
  }
  h6 
  {
    font-size: 30px;
    margin-bottom: 5%;
    padding-left: 40%;
  }
}

.accessories
 {
  margin-top: 10vh;
  border-bottom: 1px solid #d3d3d3;
}

.grid-items 
{
  flex-direction: column;
  background-color: #fff;
  padding-left: 1%;
  padding-right: 1%;
  border: 1px solid #d3d3d3;
  margin-right: 1vw;
  margin-bottom: 10vh;
}

.grid-item-des
 {
  padding-left: 2vw;
  padding-right: 2vw;
  flex-direction: column;
}

.price
 {
  justify-content: space-between;
}

.search-ftr
 {
  display: none;
}
/*results */
.res2 
{
  margin-top: 6%;
  margin-right: 3vw;
}

.small-side 
{
  display: none;
}

.large-side
 {
  flex: 75%;
}

.large-side
 {
  flex-direction: column;
}

.info-border 
{
  border-bottom: solid 1px #d3d3d3;
  padding-bottom: 2vh;
}

.dtailed-info 
{
  justify-content: space-between;
}

.info-img 
{
  height: 22vh;
  width: 22vw;
}

.information 
{
  flex-direction: column;
  padding-right: 3vw;
  padding-left: 3vw;
}

.info-head 
{
  justify-content: space-between;
}

.button 
{
  font-size: 14px;
  border-color: $white;
  background-color: $red;
  width: auto;
  height: 6vh;
}

.date 
{
  justify-content: space-between;
}

.pagination 
{
  padding-left: 35%;
  a 
  {
    color: black;
    padding-left: 35%;
    padding: 1vh 1vw;
    text-decoration: none;
    transition: background-color .3s;
  }

  a.active 
  {
    background-color: $red;
    color: white;
  }
}

.upper-ftr
 {
  display: none;
}

.lower-ftr
 {
  flex-direction: column;
  p
   {
    padding-left: 20%;
  }
  div
   {
    padding-left: 43%;
  }
}

.navigation
 {
  h6
   {
    border-bottom: solid 1px $red;
  }
}

.l-ftr-links 
{
  li 
  {
    list-style: none;
  }
  a 
  {
    color: $dark;
    text-decoration: none;
  }
}

.res-ftr 
{
  margin-top: 3vh;
  border-top: solid 1px #d3d3d3;
  padding-right: 3vw;
  padding-left: 3vw;
}

.crgt 
{
  padding-left: 3vw;
  border-top: solid 1px #d3d3d3;
}

.section-2 
{
  position: relative;
}

.aside 
{
  display: none;
}

.ftr-form
 {
  padding-top: 5vh;
  button
   {
    width: 5vw;
    height: 4vh;
    border: none;
    border-color: #d3d3d3;
    font-size: 10px;
  }
}

@media screen and (min-width: 768px) {
  .section-2 {
    justify-content: space-between;
    flex-direction: column;
    
    div 
     {
      grid-template-columns: repeat(4, minmax(180px, 1fr));
    }
  }

  .lower-ftr
    {
    flex-direction: row;
    justify-content: space-between;

    p 
     {
      padding-left: 0;
    }

    div 
     {
      padding-left: 0;
    }
  }

  .search-ftr 
   {
    display: block;
    display: flex;
    margin: 2vh 5vw 2vh 6vw;

    p 
     {
      width: 50%;
    }
  }

  .ftr-right{
    flex: 40%;
  }

  .ftr-right
     h6 {
    padding-bottom: 2vh;
    border-bottom: solid 1px $red;
  }

  .ftr-left {
    flex: 60%;
  }

  .categories {
    justify-content: space-evenly;

    li {
      list-style: none;
      text-decoration: none;
    }
  }

  .aside {
    display: block;
    position: absolute;
    left: 0;
    bottom: 10%;
    width: 35%;
    padding-left: 7%;
    background-color: white;
    padding-right: 4%;
    box-shadow: 0 0 20px black;

      h6 {
      font-size: 20px;
    }
  }

  .small-side {
    display: block;
    padding-left: 3vw;
    flex: 25%;

    h6 {
      font-size: 20px;
    }
  }

  .info-border-right {
    border-right: solid 1px #d3d3d3;
    padding-right: 2vh;
  }

  .pagination {
    display: none;
  }

  .upper-ftr {
    display: block;
    display: flex;
    justify-content: space-between;
  }
}
